<div class="container">
  <span class="greatings">Try yourself!</span>
  <span class="result"
    >Clicks: <span class="accent">{{ clicks }}</span></span
  >
  <button *ngIf="state === 'RUNNING'" class="button" (click)="onClick()">
    Click!
  </button>
  <button *ngIf="state === 'READY'" class="button" (click)="startGame()">
    Start game
  </button>
  <button *ngIf="state === 'RUNNING'" class="button" (click)="pauseGame()">
    Pause game
  </button>
  <button *ngIf="state === 'PAUSED'" class="button" (click)="startGame()">
    Resume game
  </button>

  <span class="timer">00:00:{{ time }}</span>
</div>
