@import "variables";

.progress {
  color: $color-primary;
  font-size: 64px;
  font-family: $ff-text-primary;
}

.accent {
  color: $color-accent;
  font-family: $ff-numbers-primary;
}

%button {
  margin-top: 80px;
  width: 260px;
  height: 100px;
  border: none;
  color: $color-primary;
  font-family: $ff-text-primary;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.button--active {
  @extend %button;
  background-color: $color-button-danger;
}
.button--not-active {
  @extend %button;
  text-decoration-line: line-through;
  background-color: $color-button-disabled;
}

.controls {
  margin-top: 100px;

  & .button {
    margin-left: 40px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.timer {
  margin-top: 80px;
  color: $color-secondary;
  font-family: $ff-numbers-primary;
  font-size: 96px;
}
