// Colors
$color-primary: #fff;
$color-secondary: #6cd1eb;
$color-accent: #ebc96c;
$color-button-primary: #0e5814;
$color-button-danger: #f44336;
$color-button-disabled: #808080;

// Fonts
$ff-text-primary: "Ubuntu", sans-serif;
$ff-header-primary: "Orbitron", sans-serif;
$ff-numbers-primary: "Oxanium", cursive;
